ignore-workspace-root-check=true
strict-peer-dependencies=false
auto-install-peers=true

# https://github.com/electron-userland/electron-builder
node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true

electron_mirror="https://npmmirror.com/mirrors/electron/"
